@model TeachersViewModel

<!-- SİLME Tetikleyici Butonu-->
<button type="button" class="btn btn-warning btn-sm" data-bs-toogle="modal" data-bs-target="#modal-@Model.Id">
<i class="fa-regular fa-trash-can"></i>
</button>

<!-- Modal Kategori Silme Ekranı-->
<div class="modal fade" id="modal-@Model.Id" tabindex="1" aria-labelledby="modal-label-@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-label-@Model.Id">Kategori Sil</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tr>
                        <th>Id:</th>
                        <td>@Model.Id</td>
                        <th>Ad:</th>
                        <td>@Model.FullName</td>
                    </tr>
                    <tr>
                        <th>Yaş:</th>
                        <td>@Model.Age</td>
                        <th>Url:</th>
                        <td>@Model.Url</td>
                    </tr>
                    <tr>
                        <th>Olusturma Tarihi:</th>
                        <td>@Model.CreatedDate</td>
                        <th>Son Değişiklik Tarihi:</th>
                        <td>@Model.ModifiedDate</td>
                    </tr>
                    <tr>
                        <th>Aktif mi?</th>
                        <td class="@(Model.IsActive? "text-success":"text-danger")fw-bold">@(Model.IsActive ? "Aktif" : "Pasif")</td>
                        <th></th>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Vazgeç</button>
                <a type="button"
                   class="btn btn-danger"
                   asp-area="Admin"
                   asp-controller="Teacher"
                   asp-action="SoftDelete"
                   asp-route-id="@Model.Id"
                >Sil</a>
            </div>
        </div>
    </div>
</div>