@model List<TeachersViewModel>
 <div class="row my-2">
     <div class="col-md-6">
         <h1 class="display-6">Teachers</h1>
     </div>
     <div class="col-md-6 d-flex align-items-center justify-content-end">
        <a asp-area="Admin" asp-controller="Teacher" asp-action="Create" class="btn btn-primary">NewTeacher</a>

     </div>
 </div>
 @*ModifiedDate ekle*@
 <div class="card mb-4">
     
     <div class="card-body">
         <table>
             <thead>
                 <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>FullName</th>
                    <th>Age</th>
                    <th>CreatedDate</th>
                    <th>IsActive</th>
                    <th width="100">Configurations</th>
                 </tr>
             </thead>
             <tbody>
                @foreach(var teacher in Model)
                {
                    <tr>
                        <td>@teacher.Id</td>
                        <td><img src="~/images/@teacher.ImageUrl"width="50" /></td>
                        <td>@teacher.FullName</td>
                        <td>@teacher.Age</td>
                        <td>@teacher.CreatedDate.ToShortDateString()</td>
                        <td>
                            <form class="form-check"
                                 asp-area="Admin"
                                 asp-controller="Teacher"
                                 asp-action="UpdateIsActive"
                                 asp-route-id="@teacher.Id">
                              <div class="form-check form-switch">
                                  <input class="form-check-input"
                                  type="checkbox"
                                  role="switch"
                                  id="flexSwitchCheckChecked" @(teacher.IsActive ? "checked" : "")
                                  onchange="document.getElementById(`form-teacher-is-active-@teacher.Id`).submit();">
                              </div>

                            </form>

                        </td>

                        <td>
                            <!-- Kalıcı Silme Butonu -->
                            <a class="btn btn-danger btn-sm"
                            asp-area="Admin"
                            asp-controller="Teacher"
                            asp-action="Delete"
                            asp-route-id="@teacher.Id">
                            
                            <i class="fa-solid fa-trash"></i>
                            </a>

                            <!-- Soft Silme Butonu-->
               @*             @await Html.PartialAsync("_TeacherDeletePartial",teacher)*@
                            
                            <!-- Güncelleme Butonu -->
                            <a class="btn btn-info btn-sm"
                            asp-area="Admin"
                            asp-controller="Teacher"
                            asp-action="Edit"
                            asp-route-id="@teacher.Id">
                            <i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                    </tr>
                }
         
             </tbody>
         </table>
     </div>

 </div>

 @section Css{
     @await Html.PartialAsync("_DataTablesStylesPartial")

 }

 @section Js{
     @await Html.PartialAsync("_DataTablesScriptsPartial")
 }


