@model List<CategoryViewModel>

<div class="row my-2">
    <div class="col-md-6">
        <h1 class="display-6">Kategoriler</h1>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-end">
        <a asp-area="Admin"
           asp-controller="Category"
           asp-action="Create"
           class="btn btn-primary">Yeni Kategori</a>
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        <table id="data-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Ad</th>
                @*    <th>Açıklama</th>*@
                    <th>Oluşturulma Tarihi</th>
                    <th>Son Degiştirilme Tarihi</th>
                    <th>Aktif mi?</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var cat in Model)
                {
                    <tr>
                        <td>@cat.Id</td>
                        <td>@cat.Name</td>
                     @*   <td>@cat.About</td>*@
                        <td>@cat.CreatedDate</td>
                        <td>@cat.ModifiedDate</td>
                        <td>
                            <form class="form-check"
                            asp-area="Admin"
                            asp-asp-controller="Category"
                            asp-action="Update"
                            asp-route-id="@cat.Id"
                            id="form-category-is-active-@cat.Id">
                            <div class="form-check form-switch">
                             <input class="form-check-input"
                             type="checkbox"
                             role="switch"
                             id="flexSwitchCheckedChecked" @(cat.IsActive ? "checked": "")
                             onchange="document.getElementById(`form-category-is-active-@cat.Id`).submit();"
                             >
                            </div>

                            </form>
                        </td>
                        <td>
                            <!-- KALICI OLARAK SİLME BUTONU -->
                            <a class="btn btn-danger btn-sm"
                           asp-area="Admin"
                           asp-controller="Category"
                           asp-action="Delete"
                           asp-route-id="@cat.Id">
                                <i class="fa-solid fa-trash"></i>
                            </a>

                            <!-- SOFT SİLME BUTONU -->
                   @*     @await Html.PartialAsync("_CategoryDeletePartial",cat)*@

                            <!-- GÜNCELLEME BUTONU -->
                            <a class="btn btn-info btn-sm"
                           asp-area="Admin"
                           asp-controller="Category"
                           asp-action="Edit"
                           asp-route-id="@cat.Id">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



















@*    <h1 class="display-4">Categories</h1>
@foreach(var cat in Model)
{
   <div class="row col-md-10">
       <div class=" col-md-3">
            <p class="display-6" > @cat.Name</p>
       </div>
    <div class="col-md-6">
        
        <button class="btn btn-danger">HardDelete</button>
        <button class="btn btn-warning">SoftDelete</button>
        <button class="btn btn-success">Configuration</button>
    </div>*@
 @*   </div>
}*@