@model CategoryListViewModel
<div class="list-group">
    <a class="list-group-item list-group-item-action @(Model.SelectedCategoryUrl=="" ? "active" : "")"
       asp-area=""
       asp-controller="TeacherShop"
       asp-action="TeacherList"
       asp-route-langueurl=""
       asp-route-teacherurl="">Tüm Kategoriler</a>
   
       @foreach(var langueViewModel in Model.LangueViewModelList)
       {

         <a class="list-group-item list-group-item-action 
            @(Model.SelectedCategoryUrl==langueViewModel.Url ? "active" : "")"
            asp-area=""
            asp-controller="TeacherShop"
            asp-action="TeacherList"
            asp-route-langueurl="@langueViewModel.Url"
            asp-route-teacherurl="">@langueViewModel.Name

         </a>

       }
</div>


@*@model CategoryListViewModel

<div class="list-group">
    <a class="list-group-item list-group-item-action @(Model.SelectedCategoryUrl=="" ? "active" : "")"
       asp-area=""
       asp-controller="TeacherShop"
       asp-action="TeacherList"
       asp-route-langueurl=""
       asp-route-teacherurl="">Tüm Kategoriler</a>
    @foreach (var categoryViewModel in Model.CategoryViewModelList)
    {
        <a class="list-group-item list-group-item-action @(Model.SelectedCategoryUrl==categoryViewModel.Url ? "active" : "")"
           asp-area=""
           asp-controller="BooksShop"
           asp-action="BookList"
           asp-route-categoryurl="@categoryViewModel.Url"
           asp-route-authorurl="">@categoryViewModel.Name</a>
    }
</div>*@