@model TeacherListViewModel
<div class="row my-2">
    <div class="col-md-6">
        <h1 class="display-6">
            @(Model.SourceAction == "Index" ? "Teachers" : "Silinmiş Ögretmenler")
        </h1>
    </div>
    @if (Model.SourceAction == "Index")
    {
        <div class="col-md-6 d-flex align-items-center justify-content-end">
            <a asp-area="Admin"
               asp-controller="Teacher"
               asp-action="Create"
               class="btn btn-primary">Yeni Yazar</a>
        </div>
    }
</div>

@if (Model.TeacherViewModelList.Count > 0)
{
    <div class="card mb-4">
        <div class="card-body">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fotoğraf</th>
                        <th>Ad Soyad</th>
                        <th>Yaş</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Son Değiştirilme Tarihi</th>
                        <th>Aktif mi?</th>
                        <th width="100">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var teacher in Model.TeacherViewModelList)
                    {
                        <tr>
                            <td>@teacher.Id</td>
                            <td>
                                <img src="~/images/@teacher.ImageUrl" width="50">
                            </td>
                            <td>@teacher.Name @teacher.LastName</td>
                            <td>@teacher.Age</td>
                            <td>@teacher.CreatedDate.ToShortDateString()</td>
                            <td>@teacher.ModifiedDate</td>
                            <td>
                                @if (Model.SourceAction == "Index")
                                {
                                    <form class="form-check"
                                          asp-area="Admin"
                                          asp-controller="Teacher"
                                          asp-action="UpdateIsActive"
                                          asp-route-id="@teacher.Id"
                                          id="form-teacher-is-active-@teacher.Id">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   role="switch"
                                                   id="flexSwitchCheckChecked" @(teacher.IsActive ? "checked" : "")
                                                   onchange="document.getElementById(`form-author-is-active-@teacher.Id`).submit();">
                                        </div>

                                    </form>
                                }
                                else
                                {
                                    <div class="form-check form-switch">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               role="switch"
                                               id="flexSwitchCheckChecked" @(teacher.IsActive ? "checked" : "") disabled>
                                    </div>
                                }
                            </td>
                            <td>
                                <!-- KALICI OLARAK SİLME BUTONU -->
                                <a class="btn btn-danger btn-sm"
                                   asp-area="Admin"
                                   asp-controller="Teacher"
                                   asp-action="Delete"
                                   asp-route-id="@teacher.Id">
                                    <i class="fa-solid fa-trash"></i>
                                </a>

                                <!-- SOFT SİLME BUTONU -->
                                @if (Model.SourceAction == "Index")
                                {
                                    @await Html.PartialAsync("teacherPartial", teacher)
                                    <!-- GÜNCELLEME BUTONU -->
                                    <a class="btn btn-info btn-sm"
                                       asp-area="Admin"
                                       asp-controller="Teacher"
                                       asp-action="Edit"
                                       asp-route-id="@teacher.Id">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-success btn-sm"
                                       asp-area="Admin"
                                       asp-controller="Teacher"
                                       asp-action="SoftDelete"
                                       asp-route-id="@teacher.Id">
                                        <i class="fa-solid fa-arrow-rotate-left">asdasdsa</i>
                                    </a> 
                                }



                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
       Geri Dönüşüm kutusunda Herhangi Bir Teacher Bulunamamistir...
    </div>
}

@section Css{
    @await Html.PartialAsync("_DataTablesStylesPartial")
}

@section Js{
    @await Html.PartialAsync("_DataTablesScriptsPartial")
}